@font-face {
    font-family: Anurati;
    src: url(Anurati-Regular.otf);
}
* {
    margin: none;
    padding: none;
}

body {
    font-family: Anurati;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2vh 1vw;
    background-color: rgb(13, 0, 14);
    color: rgba(0, 247, 255, 0.741)
}

.hero {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(Jellyfish.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.title {
    text-align: center;
    text-shadow:
    0 0 7px rgb(167, 81, 238),
    0 0 10px rgb(167, 81, 238),
    0 0 21px rgb(167, 81, 238),
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 85px #0fa,
    0 0 95px #0fa,
    0 0 100px #0fa;
}


.search {
    animation-duration: 1s;
    animation-name: slideout;
    height: 2vh;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    width: 10vw;
    padding: 3px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: rgba(0, 247, 255, 0.741);
    font-weight: 700;
    
}
@keyframes slideout {
    from {
        height: 4vh;
        width: 30vw;
    }
  
    to {
        height: 2vh;
        width: 10vw;
    }
  }

.search:focus {
    animation-duration: 1s;
    animation-name: slidein;
    box-shadow: 0 0 5px rgb(167, 81, 238);
    height: 4vh;
    width: 30vw;
    padding: 3px 0px 3px 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(167, 81, 238, 1);
    overflow: hidden;
}
@keyframes slidein {
    from {
        height: 2vh;
        width: 10vw;
    }
  
    to {
        height: 4vh;
        width: 30vw;
    }
  }


.photo-credit {
    font-family: sans-serif;
    position: absolute;
    bottom: 0vh;
    right: 1vw;
    font-size: x-small;
 }
.library-credit {
    font-family: sans-serif;
    position: absolute;
    bottom: 4vh;
    left: 1vw;
    font-size: x-small;
    text-decoration: none;
    color: rgba(0, 247, 255, 0.741);
}

.search-results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
    height: auto;
}

.photo {
    width: 30vw;
    height: auto;
    object-fit: cover;
    margin-bottom: 7vh;
}
.hidden {
    display: none;
}
.load {
    
    justify-content: center;
    align-items: center;
}
.load-more {
    padding: 10px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 5px;
    background-color: black;
    cursor: default;
}
.load-more:hover {
    background-color: rgb(58, 84, 92);
}